# git repos for docker-build.sh
external/*

# OpenBLAS
OpenBLAS/*

# mac files
.DS_Store

# CLion IDE fiels
.idea/*
cmake-build-debug

#dev/**/*.tlog
#dev/**/*.idb
**~

test/mpi/examples/*/out
test/serial/examples/*/out

win/*
!win/MLIP.sln
!win/readme.txt
!win/mlp/
win/mlp/**
!win/mlp/mlp.vcxproj
!win/mlp/mlp.vcxproj.filters
!win/Shared_project/**

blas/include/**
blas/lib/**
blas/obj/**
dev_src/alglib/*.o

*.opensdf
*.sdf

*.[ao]
*.swp


bin/*
lib/*
obj/*
!README.md
!INSTALL.md
!Makefile
setup.py

dev_src/external/python/pymlip.cpp

build

doc/examples/**/out
doc/examples/**/vasp
doc/examples/**/log.lammps

test/self-test/**/out
test/examples/**/out
test/examples/**/vasp
test/examples/convert-cfg/**/out
test/python/**/out

dev_doc/*.aux
dev_doc/*.log
dev_doc/*.out
dev_doc/*.synctex.gz
test/serial/examples/10.Relax_train/relaxation.log
test/mpi/examples/10.Relax_train/relaxation.log_0
